Django>=5.1,<6
djangorestframework>=3.15,<4
djangorestframework-simplejwt>=5.3,<6
django-cors-headers>=4.4,<5
mssql-django>=1.5,<2
python-decouple>=3.8,<4
Pillow>=10.4,<12
pyodbc>=5.2,<6
whitenoise>=6.7,<7
waitress>=3.0,<4
pywebview[qt]>=5.3,<7
PyInstaller>=6.10,<7
