# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment file
.env

# Frontend
node_modules/
dist/
pos_backend/frontend_dist/
pos_backend/staticfiles/
pos_backend/build/
pos_backend/dist/
*.log

# VS Code optional
.vscode/
